.navbar-header > .navbar-brand{
 font-weight: 600;
 font-size: 2em;
}
.container-fluid{
    background-color: lightgray;
   }

.text-center{
    font-size: 1.5em;
    font-weight: 600;
}
.text-fill{
    height: 1000px;
    font-size: 1.2em;
}
.marginset{
    margin: 30px;
}
.col-xs-12{
    padding: 10px;
}
.navbar-nav{
    text-align: center;
}
.hrhr{
    margin-top: 0px;
    margin-bottom: 0px;
    border-top: 2px solid #323232;
}
.hh{
    font-size: 1.2em;
    font-weight: 600;
}
@media (max-width: 767px) {
    .marginset{
        margin: 50px;
    }
}